<ng-container [formGroup]="form">
    <div class="d-flex flex-row gap-5 align-items-baseline">
        <div class="flex-column-fluid overflow-hidden w-100">
            <app-text-field
                [label]="'document.template.form.label.name' | resolveResource"
                formControlName="name"
                [errorResourceKeyPrefix]="errorResourceKeyPrefix"
            ></app-text-field>
        </div>
    </div>

    <div class="d-flex flex-row gap-5 mt-10 align-items-baseline">
        <div class="flex-column-fluid overflow-hidden w-100">
            <app-text-field
                [label]="'document.template.form.label.description' | resolveResource"
                formControlName="description"
                [errorResourceKeyPrefix]="errorResourceKeyPrefix"
            ></app-text-field>
        </div>
    </div>

    <div class="d-flex flex-row gap-5 mt-10 align-items-baseline">
        <div class="flex-column-fluid overflow-hidden w-100">
            <app-select-field
                [label]="'document.template.form.label.dC_DocumentTemplateCategoryId' | resolveResource"
                [options]="initData.dC_DocumentTemplateCategoryList"
                formControlName="dC_DocumentTemplateCategoryId"
                [errorResourceKeyPrefix]="errorResourceKeyPrefix"
            ></app-select-field>
        </div>
    </div>

    <div class="d-flex flex-row gap-5 mt-10 align-items-baseline">
        <div class="flex-column-fluid overflow-hidden w-100">
            <app-file-input-field
                formControlName="documentJSON"
                [errorResourceKeyPrefix]="errorResourceKeyPrefix"
                [accepts]="['application/vnd.openxmlformats-officedocument.wordprocessingml.document', 'application/msword']"
            ></app-file-input-field>
        </div>
    </div>
</ng-container>

<app-file-preview-modal #filePreviewModal [file]="form.value.documentJSON"></app-file-preview-modal>
