<app-list-field
    [baseResourceKey]="baseResourceKey"
    [tableIdProperty]="tableIdProperty"
    [tableTitle]="tableTitle"
    [tableTitleUseSectionSubtitle]="tableTitleUseSectionSubtitle"
    [tableHeaders]="tableHeaders"
    [canDelete]="false"
    [valueToFormValue]="valueToFormValue"
    [handleSave$]="handleSave$"
>
    <app-schedule-template-employee-form
        #editorForm
        [allSelected]="(allSelected$ | async) ?? []"
    ></app-schedule-template-employee-form>
</app-list-field>