<ng-container *ngIf="{
    tableHeaders: tableHeaders$ | async,
    activeTabConfigIndex: activeTabConfigIndex$ | async
} as vm">
    <app-list
        [baseResourceKey]="baseResourceKey"
        [tableIdProperty]="tableIdProperty"
        [tableHeaders]="vm.tableHeaders ?? []"
        [getTableData$]="getTableData$"
        [handleSave$]="handleSave$"
        [handleDelete$]="handleDelete$"
        [titleRowTemplate]="titleRowTemplate"
    >
        <app-partner-form #editorForm></app-partner-form>
    </app-list>

    <ng-template #titleRowTemplate let-title="title" let-titleRowButtonsTemplate="titleRowButtonsTemplate">
        <div class="list-tabs-title mb-5">
            <div class="list-tabs-title-title-container mb-10">
                <h2 class="list-tabs-title-title-text m-0">{{ title }}</h2>
            </div>

            <div class="list-tabs-title-tabs-container d-flex flex-row gap-2 justify-content-between align-items-stretch">
                <div class="list-tabs-title-tabs-inner-container d-flex flex-row-fluid gap-2 overflow-hidden align-items-end">
                    <mat-tab-group
                        mat-align-tabs="start"
                        [selectedIndex]="vm.activeTabConfigIndex"
                        (selectedIndexChange)="setActiveTabConfigByIndex($event)"
                    >
                        <mat-tab *ngFor="let tabConfig of tabConfigs" [label]="tabConfig.title"></mat-tab>
                    </mat-tab-group>
                </div>

                <ng-container *ngIf="titleRowButtonsTemplate" [ngTemplateOutlet]="titleRowButtonsTemplate"></ng-container>
            </div>
        </div>
    </ng-template>
</ng-container>
