// Initialize
@import "/src/assets/sass/variables";
@import "/src/assets/sass/components/variables.custom";

:host {
    height: 100%;

    .loginForm {
        width: 100%;
        max-width: 830px;
        background-color: $white;
        padding: 60px 40px;
        border-radius: 9px;

        .mat-form-field {
            width: 100%;
        }
    }

    .loading-overlay {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(255, 255, 255, 0.5);
        z-index: 3;
    }
}

.page {
    min-height: 100%;
}

.loginPage {
    background-image: url("/assets/images/login-bg.jpg");
    background-position: center;
    background-size: cover;
}

.loginTitle {
    font-size: 26px;
    font-weight: 600;
    line-height: 39px;
    letter-spacing: -0.02em;
    color: $titleBlack;
    margin: 0;
}

.loginSubitle {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    color: $lightGrey;
    margin: 0;
}

.linkButton {
    display: block;
    color: $red;
    text-decoration: underline;
    background: none;
    outline: none;
    border: none;
}
