<ng-container *ngIf="{
} as vm">
    <div class="d-flex flex-column flex-lg-row flex-column-fluid overflow-hidden page">
        <div class="d-flex flex-column flex-lg-row-fluid w-lg-50 p-10 loginPage">
            <div class="d-flex flex-center flex-column flex-lg-row-fluid">
                <div class="p-10 w-100 loginForm">
                    <!--begin::Form-->
                    <form
                        class="form m-auto position-relative"
                        [formGroup]="loginForm"
                        novalidate="novalidate"
                        id="kt_login_signin_form"
                        (ngSubmit)="submit()"
                    >
                        <div class="loginHeader">
                            <div class="d-flex flex-row align-items-center">
                                <div class="d-flex flex-column w-200px"></div>
                                <div class="d-flex flex-column-fluid overflow-hidden flex-center">
                                    <img src="assets/images/swiss-logo.svg" alt="Swiss Clinic" class="img-fluid" />
                                </div>
                                <div class="d-flex flex-column w-200px">
                                    <app-login-language-selector></app-login-language-selector>
                                </div>
                            </div>
                            <div class="d-flex flex-column flex-center mt-5">
                                <h1 class="loginTitle">{{"login.title" | resolveResource}}</h1>
                                <h2 class="loginSubitle">{{"login.subtitle" | resolveResource}} {{appVersion}}</h2>
                            </div>
                        </div>

                        <div class="d-flex flex-row mt-10 gap-5">
                            <div class="flex-column-fluid overflow-hidden flex-50">
                                <app-text-field
                                    [label]="'login.form.label.email' | resolveResource"
                                    formControlName="email"
                                ></app-text-field>
                            </div>
                            <div class="flex-column-fluid overflow-hidden flex-50">
                                <app-text-field
                                    [label]="'login.form.label.password' | resolveResource"
                                    type="password"
                                    formControlName="password"
                                ></app-text-field>

                                <button type="button" class="linkButton mt-2" (click)="forgotPasswordFormModal.open()">
                                    {{"login.form.button.label.forgotPassword" | resolveResource}}
                                </button>
                            </div>
                        </div>

                        <!-- Without a submit button the form cannot be submitted by other measn too (ex.: pressing ENTER) -->
                        <button type="submit" [hidden]="true"></button>

                        <div *ngIf="isSubmitting$ | async" class="loading-overlay">
                            <div class="spinner-border loading-spinner-large" role="status"></div>
                        </div>
                    </form>
                    <!--end::Form-->

                    <app-login-second-factor-form
                        *ngIf="!!loginStartResponse"
                        [loginStartResponse]="loginStartResponse"
                    ></app-login-second-factor-form>

                    <app-forgot-password-form-modal #forgotPasswordFormModal></app-forgot-password-form-modal>

                    <app-new-password-form-modal #newPasswordFormModal></app-new-password-form-modal>
                </div>
            </div>
        </div>
    </div>
</ng-container>
