<ng-container [formGroup]="form">
    <div class="d-flex flex-row gap-5 align-items-baseline">
        <div class="flex-column-fluid overflow-hidden w-100">
            <app-autocomplete-field
                [label]="baseResourceKey + '.form.label.service.serviceName' | resolveResource"
                formControlName="service"
                [searchFn$]="serviceAutocomplete.searchFn$"
                [inputFormatter]="serviceAutocomplete.getFormattedInputText"
                [resultFormatter]="serviceAutocomplete.getFormattedSelectText"
            ></app-autocomplete-field>
        </div>
    </div>

    <div class="d-flex flex-row gap-5 mt-10 align-items-baseline">
        <div class="flex-column-fluid overflow-hidden flex-33">
            <app-checkbox-field
                [label]="(baseResourceKey + '.form.label.isMandatory') | resolveResource"
                formControlName="isMandatory"
                [useAlignBaselineFix]="true"
            ></app-checkbox-field>
        </div>
        <div class="flex-column-fluid overflow-hidden flex-33">
            <app-checkbox-field
                [label]="(baseResourceKey + '.form.label.isPreviousResultAccepted') | resolveResource"
                formControlName="isPreviousResultAccepted"
                [useAlignBaselineFix]="true"
            ></app-checkbox-field>
        </div>
        <div class="flex-column-fluid overflow-hidden flex-33">
            <app-select-field
                [label]="(baseResourceKey + '.form.label.dC_ExposureFrequencyId') | resolveResource"
                formControlName="dC_ExposureFrequencyId"
                [options]="initData.dC_ExposureFrequencyList"
            ></app-select-field>
        </div>
    </div>
</ng-container>
