<app-list-field
    [baseResourceKey]="baseResourceKey"
    [tableIdProperty]="tableIdProperty"
    [tableTitle]="tableTitle"
    [tableTitleUseSectionSubtitle]="tableTitleUseSectionSubtitle"
    [tableHeaders]="tableHeaders"
    [errorResourceKeyPrefix]="errorResourceKeyPrefix"
    [errorAddControlNameToResourceKeyPrefix]="errorAddControlNameToResourceKeyPrefix"
    [errorShowErrorsMethod]="errorShowErrorsMethod"
    [errorResourceOverrides]="errorResourceOverrides"
    [errorResourceOverridesMethod]="errorResourceOverridesMethod"
    [canCreate]="!!(canCreate$ | async)"
    [totalRecordCount]="(allSelectedRoleIds$ | async)?.length ?? 10">

    <app-user-role-form #editorForm [allSelectedRoleIds$]="allSelectedRoleIds$"></app-user-role-form>
</app-list-field>
