<app-list-field
    [baseResourceKey]="baseResourceKey"
    [tableIdProperty]="tableIdProperty"
    [tableTitle]="tableTitle"
    [tableTitleUseSectionSubtitle]="tableTitleUseSectionSubtitle"
    [tableHeaders]="tableHeaders"
    [errorResourceKeyPrefix]="errorResourceKeyPrefix"
    [errorAddControlNameToResourceKeyPrefix]="errorAddControlNameToResourceKeyPrefix"
    [errorShowErrorsMethod]="errorShowErrorsMethod"
    [errorResourceOverrides]="errorResourceOverrides"
    [errorResourceOverridesMethod]="errorResourceOverridesMethod"
>
    <app-reception-patient-arrival-management-appointment-service-cost-bearer-form
        #editorForm
    ></app-reception-patient-arrival-management-appointment-service-cost-bearer-form>
</app-list-field>
