<app-list-field
    [baseResourceKey]="baseResourceKey"
    [tableIdProperty]="tableIdProperty"
    [tableTitle]="tableTitle"
    [tableTitleUseSectionSubtitle]="tableTitleUseSectionSubtitle"
    [tableHeaders]="tableHeaders"
    [errorResourceKeyPrefix]="errorResourceKeyPrefix"
    [errorAddControlNameToResourceKeyPrefix]="errorAddControlNameToResourceKeyPrefix"
    [errorShowErrorsMethod]="errorShowErrorsMethod"
    [errorResourceOverrides]="errorResourceOverrides"
    [errorResourceOverridesMethod]="errorResourceOverridesMethod"
    [handleSave$]="handleSave$"
    [canDelete]="false"
    [valueToFormValue]="valueToFormValue"
>
    <app-service-item-selection-list-form
        #editorForm
        [allSelectedItems]="(allSelectedItems$ | async) ?? []"
    ></app-service-item-selection-list-form>
</app-list-field>
