<ng-container [formGroup]="form" *ngIf="{
    currentServiceId: form.value.serviceId
} as vm">

    <div class="d-flex flex-row gap-5 align-items-baseline">
        <div class="flex-column-fluid overflow-hidden w-100">
            <app-text-field
                [label]="'service.form.label.serviceName' | resolveResource"
                formControlName="serviceName"
            ></app-text-field>
        </div>
    </div>

    <div class="d-flex flex-row gap-5 mt-10 align-items-baseline">
        <div class="flex-column-fluid overflow-hidden w-100">
            <app-text-field
                [label]="'service.form.label.serviceName_EN' | resolveResource"
                formControlName="serviceName_EN"
            ></app-text-field>
        </div>
    </div>

    <div class="d-flex flex-row gap-5 mt-10 align-items-baseline">
        <div class="flex-column-fluid overflow-hidden w-100">
            <app-text-area-field
                [label]="'service.form.label.description' | resolveResource"
                formControlName="description"
            ></app-text-area-field>
        </div>
    </div>

    <div class="d-flex flex-row gap-5 mt-10 align-items-baseline">
        <div class="flex-column-fluid overflow-hidden flex-50">
            <app-number-field
                [label]="'service.form.label.minimumNumberOfDaysNextUse' | resolveResource"
                formControlName="minimumNumberOfDaysNextUse"
            ></app-number-field>
        </div>
    </div>

    <div class="d-flex flex-row gap-5 mt-10 align-items-baseline">
        <div class="flex-column-fluid overflow-hidden flex-50">
            <app-select-field
                [label]="'service.form.label.dC_StatusId' | resolveResource"
                formControlName="dC_StatusId"
                [options]="initData.dC_StatusList"
            ></app-select-field>
        </div>
        <div class="flex-column-fluid overflow-hidden flex-50">
            <app-number-field
                [label]="'service.form.label.duration' | resolveResource"
                formControlName="duration"
                [step]="5"
            >
                <ng-template #fieldSuffixTemplate>
                    <span class="input-group-text">{{"general.unit.minute" | resolveResource}}</span>
                </ng-template>
            </app-number-field>
        </div>
    </div>

    <div class="d-flex flex-row gap-5 mt-10 align-items-baseline">
        <div class="flex-column-fluid overflow-hidden flex-50">
            <app-select-field
                [label]="'service.form.label.dC_ServiceCategoryId' | resolveResource"
                formControlName="dC_ServiceCategoryId"
                [options]="initData.dC_ServiceCategoryList"
            ></app-select-field>
        </div>
        <div class="flex-column-fluid overflow-hidden flex-50">
            <app-select-field
                [label]="'service.form.label.dC_ServiceTypeId' | resolveResource"
                formControlName="dC_ServiceTypeId"
                [options]="initData.dC_ServiceTypeList"
            ></app-select-field>
        </div>
    </div>

    <div class="d-flex flex-row gap-5 mt-10 align-items-baseline">
        <div class="flex-column-fluid overflow-hidden w-100">
            <app-checkbox-field
                [label]="'service.form.label.isPerformedExternally' | resolveResource"
                formControlName="isPerformedExternally"
            ></app-checkbox-field>
        </div>
    </div>

    <div class="d-flex flex-row gap-5 mt-10 align-items-baseline">
        <div class="w-100 overflow-hidden">
            <app-service-booking-area-selection-list-field
                formControlName="serviceXDC_BookingArea"
            ></app-service-booking-area-selection-list-field>
        </div>
    </div>

    <div class="d-flex flex-row gap-5 mt-10 align-items-baseline">
        <div class="flex-column-fluid overflow-hidden w-100">
            <app-checkbox-field
                [label]="'service.form.label.isSendBookingChangeEmailNotification' | resolveResource"
                formControlName="isSendBookingChangeEmailNotification"
            ></app-checkbox-field>
        </div>
    </div>

    <div class="d-flex flex-row gap-5 mt-10 align-items-baseline">
        <div class="flex-column-fluid overflow-hidden w-100">
            <app-service-speciality-list-field
                formControlName="specialtyXService"
            ></app-service-speciality-list-field>
        </div>
    </div>

    <div class="d-flex flex-row gap-5 mt-10 align-items-baseline">
        <div class="flex-column-fluid overflow-hidden w-100">
            <app-service-specialty-doctor-list-field
                formControlName="_doctorList"
                [selectedSpecialties]="form.value.specialtyXService ?? []"
            ></app-service-specialty-doctor-list-field>
        </div>
    </div>

    <div class="d-flex flex-row mt-5 gap-5 align-items-baseline">
        <div class="d-flex flex-column overflow-break-words">
            <app-radio-field formControlName="TODO_assignToAllClinics">
                <div class="d-flex flex-row gap-5 align-items-baseline">
                    <div class="flex-50">
                        <app-radio-field-option
                            [label]="'service.form.label.TODO_assignToAllClinics.option.true' | resolveResource"
                            [optionValue]="true"
                        ></app-radio-field-option>
                    </div>
                    <div class="flex-50">
                        <app-radio-field-option
                            [label]="'service.form.label.TODO_assignToAllClinics.option.false' | resolveResource"
                            [optionValue]="false"
                        ></app-radio-field-option>
                    </div>
                </div>
            </app-radio-field>
        </div>
    </div>

    <div class="d-flex flex-row gap-5 mt-10 align-items-baseline">
        <div class="flex-column-fluid overflow-hidden w-100">
            <app-service-price-template-item-list-field
                formControlName="priceTemplateItem"
                [activePriceTable]="activePriceTable$ | async"
                [basePriceValue]="basePriceValue$ | async"
                (setBasePriceValue)="setBasePriceValue($event)"
            ></app-service-price-template-item-list-field>
        </div>
    </div>

    <div class="d-flex flex-row gap-5 mt-10 align-items-baseline">
        <div class="flex-column-fluid overflow-hidden w-100">
            <app-service-incompatible-service-list-field
                formControlName="serviceXIncompatibleService"
                [currentServiceId]="vm.currentServiceId"
                [allSelectedConnectedServices]="form.value.serviceXConnectedService"
            ></app-service-incompatible-service-list-field>
        </div>
    </div>

    <div class="d-flex flex-row gap-5 mt-10 align-items-baseline">
        <div class="flex-column-fluid overflow-hidden w-100">
        <app-service-connected-service-list-field
            formControlName="serviceXConnectedService"
            [currentServiceId]="vm.currentServiceId"
            [allSelectedIncompatibleServices]="form.value.serviceXIncompatibleService"
        ></app-service-connected-service-list-field>
        </div>
    </div>

    <div class="d-flex flex-row gap-5 mt-10 align-items-baseline">
        <div class="flex-column-fluid overflow-hidden w-100">
            <app-service-item-list-field
                formControlName="serviceXItem"
            ></app-service-item-list-field>
        </div>
    </div>

    <div class="d-flex flex-row gap-5 mt-10 align-items-baseline">
        <div class="flex-column-fluid overflow-hidden w-100">
            <app-service-lab-list-field
                formControlName="serviceXLab"
            ></app-service-lab-list-field>
        </div>
    </div>

    <div class="d-flex flex-row gap-5 mt-10 align-items-baseline">
        <div class="flex-column-fluid overflow-hidden w-100">
            <app-service-role-list-field
                formControlName="serviceXRole"
            ></app-service-role-list-field>
        </div>
    </div>

    <ng-container>
        <div class="d-flex flex-row mt-10 gap-5 align-items-baseline">
            <div class="w-100 overflow-hidden">
                <app-section-title [title]="'service.form.section.title.deep.erp.merged.item' | resolveResource"></app-section-title>
            </div>
        </div>

        <div class="d-flex flex-row mt-10 gap-5 align-items-baseline">
            <div class="flex-column-fluid overflow-hidden flex-50">
                <app-text-field
                    [label]="'service.form.label.deeperpMergedItemName' | resolveResource"
                    formControlName="deeperpMergedItemName"
                ></app-text-field>
            </div>
            <div class="flex-column-fluid overflow-hidden flex-50">
                <app-text-field
                    [label]="'service.form.label.deeperpMergedItemNumber' | resolveResource"
                    formControlName="deeperpMergedItemNumber"
                ></app-text-field>
            </div>
        </div>
    </ng-container>

    <div class="d-flex flex-row gap-5 mt-10 align-items-baseline">
        <div class="flex-column-fluid overflow-hidden w-100">
            <app-service-service-package-list-field
                formControlName="servicePackageXService"
            ></app-service-service-package-list-field>
        </div>
    </div>

    <ng-container>
        <div class="d-flex flex-row mt-10 gap-5 align-items-baseline">
            <div class="flex-column-fluid overflow-hidden w-100">
                <app-section-title [title]="'service.form.section.title.deep.erp' | resolveResource"></app-section-title>
            </div>
        </div>

        <div class="d-flex flex-row mt-10 gap-5 align-items-baseline">
            <div class="flex-column-fluid overflow-hidden w-100">
                <app-deep-erp-item-identification-form-field
                    formControlName="deeperpItemIdentification"
                ></app-deep-erp-item-identification-form-field>
            </div>
        </div>
    </ng-container>

    <div class="mt-10">
        <app-form-error
            [control]="form"
            [resourceKeyPrefix]="errorResourceKeyPrefix"
        ></app-form-error>
    </div>
</ng-container>
