<app-list-field
    [baseResourceKey]="baseResourceKey"
    [tableIdProperty]="tableIdProperty"
    [tableTitle]="tableTitle"
    [tableTitleUseSectionSubtitle]="tableTitleUseSectionSubtitle"
    [tableHeaders]="tableHeaders"
    [errorResourceKeyPrefix]="errorResourceKeyPrefix"
    [errorAddControlNameToResourceKeyPrefix]="errorAddControlNameToResourceKeyPrefix"
    [errorShowErrorsMethod]="errorShowErrorsMethod"
    [errorResourceOverrides]="errorResourceOverrides"
    [errorResourceOverridesMethod]="errorResourceOverridesMethod"
    [getExpandedRowChildRows]="getExpandedRowChildRows"
    [getEditorModalTitle]="getEditorModalTitle"
    [getFullModelFromGridModel$]="getFullModelFromGridModel$"
    [handleSave$]="handleSave$"
    [handleDelete$]="handleDelete$"
>
    <app-exposure-item-or-service-form #editorForm></app-exposure-item-or-service-form>
</app-list-field>
