<app-text-field
    [type]="type"
    [label]="label"
    [mask]="mask"
    [maskSuffix]="maskSuffix"
    [maskPrefix]="maskPrefix"
    [disabled]="isDisabled || false"
    [errorResourceKeyPrefix]="errorResourceKeyPrefix"
    [errorAddControlNameToResourceKeyPrefix]="errorAddControlNameToResourceKeyPrefix"
    [errorShowErrorsMethod]="errorShowErrorsMethod"
    [errorResourceOverrides]="errorResourceOverrides"
    [errorResourceOverridesMethod]="errorResourceOverridesMethod"
    [forceSyncModelWithControl]="false"
    [autoSizeConfig]="autoSizeConfig"
>
    <ng-template #fieldSuffixTemplate>
        <div (click)="togglePasswordVisibility()" class="btn customBtn customIconBtn">
            <i *ngIf="type === 'password'" class="bi bi-eye-fill"></i>
            <i *ngIf="type !== 'password'" class="bi bi-eye-slash-fill"></i>
        </div>
    </ng-template>
</app-text-field>
