<label *ngIf="useAlignBaselineFix" class="form-label mb-5 w-0 invisible">&nbsp;</label>
<div class="form-check form-check-custom form-check-solid form-check-sm">
    <input
        class="form-check-input"
        type="checkbox"
        [disabled]="isDisabled || false"
        [ngModel]="value"
        (ngModelChange)="changeValue($event)"
        (blur)="onBlur()"
        (click)="$event.stopPropagation()"
    />
    <ng-content select="[labelPrefix]"></ng-content>
    <label *ngIf="!!label" class="form-check-label" [class.form-check-label-bold]="boldLabel">{{ label }}</label>
    <ng-content select="[labelSuffix]"></ng-content>
</div>
<app-field-error
    *ngIf="!!ngControl?.control && ngControl!.control!.invalid"
    [control]="ngControl!.control!"
    [resourceKeyPrefix]="errorResourceKeyPrefix"
    [addControlNameToResourceKeyPrefix]="errorAddControlNameToResourceKeyPrefix"
    [showErrorsMethod]="errorShowErrorsMethod"
    [resourceOverrides]="errorResourceOverrides"
    [resourceOverridesMethod]="errorResourceOverridesMethod"
></app-field-error>
