<app-list-field
    [baseResourceKey]="baseResourceKey"
    [tableIdProperty]="tableIdProperty"
    [tableTitle]="tableTitle"
    [tableTitleUseSectionSubtitle]="tableTitleUseSectionSubtitle"
    [tableHeaders]="tableHeaders"
    [errorResourceKeyPrefix]="errorResourceKeyPrefix"
    [errorAddControlNameToResourceKeyPrefix]="errorAddControlNameToResourceKeyPrefix"
    [errorShowErrorsMethod]="errorShowErrorsMethod"
    [errorResourceOverrides]="errorResourceOverrides"
    [errorResourceOverridesMethod]="errorResourceOverridesMethod"
>
    <app-exposure-item-service-form
        #editorForm
        [exposure]="exposure"
        [exposureXExposureItem]="exposureXExposureItem"
    ></app-exposure-item-service-form>
</app-list-field>
