<app-list-field
    [baseResourceKey]="baseResourceKey"
    [tableIdProperty]="tableIdProperty"
    [tableTitle]="tableTitle"
    [tableTitleUseSectionSubtitle]="tableTitleUseSectionSubtitle"
    [tableHeaders]="tableHeaders"
    [errorResourceKeyPrefix]="errorResourceKeyPrefix"
    [errorAddControlNameToResourceKeyPrefix]="errorAddControlNameToResourceKeyPrefix"
    [errorShowErrorsMethod]="errorShowErrorsMethod"
    [errorResourceOverrides]="errorResourceOverrides"
    [errorResourceOverridesMethod]="errorResourceOverridesMethod"
>
    <app-patient-address-form #editorForm [allSelectedPatientAddressTypeIds$]="allSelectedPatientAddressTypeIds$" ></app-patient-address-form>
</app-list-field>
