<ng-container [formGroup]="form">
    <div class="d-flex flex-row gap-5">
        <div class="flex-column-fluid overflow-hidden w-100">
            <app-showable-password-field [label]="'new.password.form.label.newPassword' | resolveResource" formControlName="newPassword"></app-showable-password-field>
        </div>
    </div>

    <div class="d-flex flex-row gap-5 mt-10">
        <div class="flex-column-fluid overflow-hidden w-100">
            <app-showable-password-field [label]="'new.password.form.label.newPasswordAgain' | resolveResource" formControlName="newPasswordAgain"></app-showable-password-field>
        </div>
    </div>

    <div class="mt-10">
        <app-form-error
            [control]="form"
            [resourceKeyPrefix]="errorResourceKeyPrefix"
        ></app-form-error>
    </div>
</ng-container>
