// Custom variables

$lightGrey: #b5b5c3;
$hoverGrey: #f4f4f4;
$brandGrey: #1d1d1b;
$grey: #7e8299;
$lightGrey2: #ebebeb;
$tableHeaderBorderGrey: #CDCED6;
$bodyGrey: #FAF8F8;
$darkGrey: #5E6278;
$titleBlack: #181c32;
$checkboxGrey: #f3f6f9;
$checkboxGreyActive: #d5dfeb;
$error: #cc1719;
$bgRed: rgba(204, 23, 25, 0.06);
$red: #ff324b;
$hoverRed: #ff001e;
$lightRed: #ede4e4;
$iconBgGrey: #E8E8E8;
$calendarBorder: #ECECEC;
$calendarHeader: #444657;
$calendarEventBlue: #3699FF;
$calendarEventLightRed: #EE8586;
$white: #fff;